/* Alegreya Sans */
@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Regular.woff2'),
       url('../fonts/AlegreyaSans-Regular.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Italic.woff2'),
       url('../fonts/AlegreyaSans-Italic.woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Bold.woff2'),
       url('../fonts/AlegreyaSans-Bold.woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Medium.woff2'),
       url('../fonts/AlegreyaSans-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

/* Redaction */
@font-face {
  font-family: 'Redaction 35';
  src: url('../fonts/Redaction_35-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Redaction 35';
  src: url('../fonts/Redaction_35-Italic.woff2');
  font-weight: normal;
  font-style: italic;
}

body {
  font-family: "Alegreya Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

p {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 18px;
  hyphens: auto;
}

/* header and footer areas ----------------------------------------------- */
.side-blurb p {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
}

.menu a:link {
  font-size: 18px;
  font-weight: 500;
  font-feature-settings: "smcp" on;
}

.social-links {
  font-size: 16px;
  font-feature-settings: "smcp" on;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

footer {
  font-feature-settings: "smcp" on;
}
