/* Font definitions ------------------------------------------------------ */

/* Alegreya Sans */
@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Regular.woff2'),
       url('../fonts/AlegreyaSans-Regular.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Italic.woff2'),
       url('../fonts/AlegreyaSans-Italic.woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Bold.woff2'),
       url('../fonts/AlegreyaSans-Bold.woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Medium.woff2'),
       url('../fonts/AlegreyaSans-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

/* Alegreya */
@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/Alegreya-Regular.woff2'),
       url('../fonts/Alegreya-Regular.woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/Alegreya-Italic.woff2'),
       url('../fonts/Alegreya-Italic.woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/Alegreya-Medium.woff2'),
       url('../fonts/Alegreya-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

/* Redaction */
@font-face {
  font-family: 'Redaction 35';
  src: url('../fonts/Redaction_35-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Redaction 35';
  src: url('../fonts/Redaction_35-Italic.woff2');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Redaction 20';
  src: url('../fonts/Redaction_20-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --small-caps: "smcp" on, "cpsp" on
}

/* General selectors ----------------------------------------------------- */

body {
  font-family: "Alegreya Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

p {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 0.9em;
  /* hyphens: auto; */
}

h2 {
  font-family: 'Redaction 20';
  font-size: 28px;
  font-weight: normal;
  line-height: 1.1em;
  margin-bottom: 0.65em;
}

h3 {
  font-family: 'Alegreya Sans';
  font-size: 22px;
  /* font-style: bold; */
  font-weight: 500;
  text-transform: lowercase;
  text-align: center;
  font-feature-settings: var(--small-caps);
  margin-bottom: 0.65em;
}

p + h2 {
  margin-top: 1.4em;
}

p + h3 {
  margin-top: 1.5em;
}

a {
  font-weight: 500;
}

/* List panes ------------------------------------------------------------ */

.side-blurb p {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 10px;
}

.menu a:link {
  font-family: Alegreya;
  font-size: 18px;
  font-weight: 500;
  font-feature-settings: "smcp" on, "cpsp" on;
}

.social-links a {
  font-family: Alegreya;
  font-size: 16px;
  font-weight: normal;
  font-feature-settings: "smcp" on, "cpsp" on;
}

code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}

/* Single pages ---------------------------------------------------------- */
.single-nav-linkback {
  font-family: Alegreya;
  font-size: 18px;
  font-feature-settings: "smcp" on, "cpsp" on;
}

.article-meta h1 {
  font-family: 'Redaction 35';
  font-weight: normal;
  font-size: 38px;
  line-height: 1.15em;
  margin-bottom: 0.55em
}

.single-description {
  font-family: Alegreya;
  font-style: italic;
  font-size: 20px;
}

/* Footer ---------------------------------------------------------------- */
footer {
  font-family: Alegreya;
  font-feature-settings: var(--small-caps), "lnum" on;
}

/* Lists ----------------------------------------------------------------- */
.list-page-title {
  font-family: Alegreya;
  font-size: 18px;
  font-weight: normal;
  text-transform: lowercase;
  font-feature-settings: var(--small-caps);
}

.list-post-title {
  font-family: 'Redaction 20';
  font-weight: normal;
  font-size: 32px;
  line-height: 1.1em;
  margin-bottom: 0.3em;
}

.list-post-description {
  font-weight: normal;
  font-size: 18.5px;
  line-height: 1.19em;
}
