/* General selectors ----------------------------------------------------- */

body {
  /* max-width: 800px; */
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
  color: #30363F;
  background: #F9F9FA;
}

h2 {  /* override the “user agent stylesheet” */
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a {
  color: #30363F;
  text-decoration: none;
}

/* Header and footer areas ----------------------------------------------- */
.side-layout {
  display: grid;
}

img.logo {
  box-sizing: border-box;
  padding: 0px 10px;
  width: 100%;
  height: auto;
}

.side-blurb {
  margin: 16px 0px 32px;
}

.side-blurb p {
  padding: 0px 10px;
  color: #30363F;
  margin: 10px 0px;
}

.menu { 
  padding: 0;
  display: flex;
  flex-direction: column; 
}
.menu li {
  display: block;
  text-align: left;
  padding: 5px 10px;
}
.article-meta, .menu a {
  text-decoration: none;
  /* padding: 5px; */
  border-radius: 5px;
}

.menu a {
  color: #30363F;
}

.social-links {
  margin: 14px 10px 0px;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-top: solid 2px;
  border-color: #30363f1e;
}

.social-links li {
  /* display: inline-block; */
  list-style-type: none;
}

.social-links a {
  color: #30363F;
  text-decoration: none;
}

@media only screen and (min-width: 889px) {
  .side-layout {
    grid-template-columns: 4fr 7fr;
    column-gap: 100px;
    max-width: 1000px;
    margin: 48px auto;
    /* background: red; */
  }
}

@media only screen and (max-width: 888px) {
  img.logo {
    box-sizing: border-box;
    /* padding: 0px 10px; */
    /* max-width: 292px; */
    height: auto;
  }

  .side-layout {
    grid-template-rows: 314px auto;
    /* max-width: 1000px; */
    row-gap: 40px;
    margin: 48px auto;
  }

  .list-pane {
    margin: auto;
    max-width: 555px;
  }

  .aside-pane {
    max-width: 320px;
    margin: auto;
  }

  .menu {
    flex-direction: row;
    justify-content: space-between;
  }
}

.article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }

footer {
  color: #808a9a;
}
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* Lists ----------------------------------------------------------------- */
.list-pane ul {
  margin: 0;
  padding: 0;
}

.list-pane li {
  list-style-type: none;
  margin-bottom: 52px;
}

.list-post-description {
  margin: 0;
}

/* Code ------------------------------------------------------------------ */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* Misc elements --------------------------------------------------------- */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #ffffff0d;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
