/* General selectors ----------------------------------------------------- */

body {
  /* max-width: 800px; */
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
  color: #30363F;
  background: #F9F9FA;
}

/* override the “user agent stylesheet” */
p { 
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
h1 { 
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}
h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

a {
  color: #30363F;
  text-decoration: underline;
  text-decoration-color: #30363f33;
  text-decoration-thickness: 2px;
  text-underline-offset: 1px;
}
a:hover {
  text-decoration-color: #30363fbd;
  transition: 100ms;
}

kbd {
  font-family: 'Alegreya Sans';
  font-size: 0.9em;
  font-weight: 500;
  padding: .1em .4em .25em;
  margin: 0 .2em;
  background-color: #eceef07a;
  border: solid 1px;
  border-color: #bfc4cd;
  border-radius: 3px;
  box-shadow: 0 -3px 0 #dee1e6 inset;
}

/* List panes ------------------------------------------------------------ */
.side-layout {
  display: grid;
}

img.logo {
  box-sizing: border-box;
  padding: 0px 10px;
  width: 100%;
  height: auto;
}

.side-blurb {
  margin: 16px 0px 32px;
}

.side-blurb p {
  padding: 0px 10px;
  color: #30363F;
  margin: 10px 0px;
}

.menu {
  padding: 0;
  display: flex;
  flex-direction: column; 
}
.menu li {
  display: block;
  text-align: left;
  padding: 5px 10px;
}
.article-meta, .menu a {
  text-decoration: none;
  /* padding: 5px; */
  border-radius: 5px;
}

.menu a {
  color: #30363F;
}

.social-links {
  margin: 14px 10px 0px;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-top: solid 2px;
  border-color: #30363f1e;
}

.social-links li {
  /* display: inline-block; */
  list-style-type: none;
}

.social-links a {
  color: #30363F;
  text-decoration: none;
}

@media only screen and (min-width: 889px) {
  .side-layout {
    grid-template-columns: 4fr 7fr;
    column-gap: 10%;
    max-width: 1000px;
    margin: 48px auto;
    padding: 0 25px;
    /* background: red; */
  }
}

@media only screen and (max-width: 888px) {
  img.logo {
    box-sizing: border-box;
    /* padding: 0px 10px; */
    /* max-width: 292px; */
    height: auto;
  }

  .side-layout {
    grid-template-rows: 314px auto;
    /* max-width: 1000px; */
    row-gap: 64px;
    margin: 48px auto;
  }

  .list-pane {
    margin: auto;
    max-width: 555px;
  }

  .aside-pane {
    max-width: 320px;
    margin: auto;
  }

  .menu {
    flex-direction: row;
    /* margin: auto; */
    justify-content: space-evenly;
  }
}

/* Single pages ---------------------------------------------------------- */
.single-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 6px;

  max-width: 602px;
  margin: 20px auto 30px;
  border-bottom: solid 1px #30363F;
}

.single-nav .logo {
  max-width: 176px;
}

.single-nav .logo-link {
  line-height: 0;
}

.single-nav-linkback {
  align-self: flex-start;
  text-decoration: none;
}

.article-meta {
  max-width: 602px;
  margin: 0 auto 50px;
}

.single-main {
  max-width: 602px;
  margin: 0 auto 80px;
}

/* Footer ---------------------------------------------------------------- */

footer { text-align: center; }
.title { font-size: 1.1em; }

footer {
  color: #808a9a;
}
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color: #ddd;
}

/* Lists ----------------------------------------------------------------- */
.list-pane a {text-decoration: none;}

.list-pane ul {
  margin: 0;
  padding: 0;
}

.list-pane li {
  list-style-type: none;
  margin-bottom: 52px;
}

.list-post-description {
  margin: 0;
}

.list-page-title {
  overflow: hidden;
  text-align: center;
  margin-bottom: 36px;
}
.list-page-title > span {
  position: relative;
  display: inline-block;
}
.list-page-title > span::before, .list-page-title > span::after {
  content: '';
  position: absolute;
  top: 50%;
  border-top: 1px solid;
  width: 300px;
  margin: 0 20px;
}
.list-page-title > span::before {
  right: 100%;
}
.list-page-title > span::after {
  left: 100%;
}


/* Code ------------------------------------------------------------------ */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

p > code {
  font-size: 0.75em;
  padding: 0.1em 0.3em;
  margin: 0 0.2em;
  background-color: #eceef0;
  border-radius: 2px;
  color: #213f6d;
  /* font-size: 70%; */
}

/* Misc elements --------------------------------------------------------- */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #ffffff0d;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
