{{ partial "header.html" . }}

<div class="side-layout">

  <div class="aside-pane">
    <!-- <a href="{{ "/" | relURL }}"><img src="{{ "/images/ninevoltXYZ-logo-light-theme.svg" | relURL }}"
        alt="ninevolt.xyz logo" class="logo"></a> -->
    {{ partial "logo.html" . }}
    {{ partial "side-blurb.html" }}

    <nav>
      <ul class="menu">
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>

    <ul class="social-links">
      <li><a href="https://github.com/allen-3" target="_blank" rel="noopener noreferrer">GitHub</a></li>
      <li><a href="https://www.youtube.com/channel/UCFiD9lJzbSKQJ0EKssXvUbg" target="_blank"
          rel="noopener noreferrer">YouTube</a></li>
      <li><a href="https://twitter.com/9ninevolt" target="_blank" rel="noopener noreferrer">Twitter</a></li>
      <li><a href="mailto:sunallen33@gmail.com">Email</a></li>
    </ul>
  </div>

  <main class="list-pane">
    {{if not .IsHome }}
    <h1 class="list-page-title"><span>{{ .Title | markdownify }}</span></h1>
    {{ .Content }}
    {{ end }}

    <ul>
      {{ $pages := .Pages }}
      {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
      {{ range (where $pages "Section" "!=" "") }}
      <a href="{{ .RelPermalink }}">
        <li>
          <!-- <span class="date">{{ .Date.Format "2006/01/02" }}</span> -->
          <h2 class="list-post-title">{{ .Title | markdownify }}</h2>
          <p class="list-post-description">{{ .Description | markdownify }}</p>
        </li>
      </a>
      {{ end }}
    </ul>
  </main>

</div>

{{ partial "footer.html" . }}
