{{ partial "header.html" . }}

<div class="side-layout">

  <div class="aside-pane">
    <img src="{{ "/images/ninevoltXYZ-logo.svg" | relURL }}" alt="ninevolt.xyz logo" class="logo">

    {{if .IsHome }}
    <div class="side-blurb">
      {{ .Content }}
    </div>
    {{ end }}

    <nav>
      <ul class="menu">
        {{ range .Site.Menus.main }}
        <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
  </div>

  <main class="list-pane">
    {{if not .IsHome }}
    <h1>{{ .Title | markdownify }}</h1>
    {{ .Content }}
    {{ end }}

    <ul>
      {{ $pages := .Pages }}
      {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
      {{ range (where $pages "Section" "!=" "") }}
      <li>
        <span class="date">{{ .Date.Format "2006/01/02" }}</span>
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
      </li>
      {{ end }}
    </ul>
  </main>

</div>

{{ partial "footer.html" . }}
